/* $accentColor = #3eaf7c // 主题色 */

#app .navbar .home-link span:before{
    display: inline-block;
    content:'';
    /*width: 3rem;*/
    width: 5rem;
    /*height: 2.4rem;*/
    height: 2.5rem;
    background:url('../img/sldl.png') no-repeat;
    background-size:100% 100%;
    vertical-align: middle;
}
.page .page-title{
	max-width:840px !important;
}
.bilibili-player-video-recommend {
	display:none !important;
}
.bilibili-player-video-recommend-container {
	display:none !important;
}
/* 放开评论
.valine-wrapper {
	display:none !important;
}
*/